<!-- <app-task-card></app-task-card> -->
<app-menu-bar></app-menu-bar>
<div class="container">
  <h1 class="logo"> <i class="fas fa-fire" style="font-size: medium;"></i> miniburn</h1>
  <h2 class="logo" style="font-size: medium; color: white; margin-top: 0px;">{{ project.name }}</h2>
  <p class="description">{{ project.goal }}</p>
  <app-popup-manager></app-popup-manager>
  <app-graph-block></app-graph-block>
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-12">
      <app-task-list [name]="lists[0]"></app-task-list>
    </div>
    <div class="col-md-6 col-12">
      <app-task-list [name]="lists[1]"></app-task-list>
    </div>
  </div>
</div>
