button {
  color: gray;
  background-color: rgb(46, 46, 46);
  border-radius: 6px;
  border:none;
  box-shadow: 0 0 7px rgba(7, 5, 5, 0.25);
  margin: 4px;
}

button:hover {
  color: white;
  background-color: rgb(51, 51, 51);
}

button:focus {
  outline: none;
  border: none;
}

.menu-bar {
  /* max-width: 480px; */
  /* min-width: 420px;  */
  /* width:90%; */
  position: absolute;
  /* left: 80%; */
  /* margin-left: auto; */
  right: 40px;
  top: 15px;
}
