<app-popup-manager></app-popup-manager>

<div class="workspace">
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-6">
    <div class="header">
      <h2 class="project-name" style="font-size: medium; color: white; margin-top: 0px;">{{ project.name }}</h2>
      <div>
        <div class="goal-text" #projectGoal>
          <span class="description"><span class="goal-label">Goal:</span> {{ project.goal }}</span>
        </div>
      </div>
      <app-drop-down [opened]="false" [target]="projectGoal"></app-drop-down>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-6">
    <app-graph-block></app-graph-block>
  </div>
  <div class="col-md-12 col-lg-6">
    <app-task-list [name]="lists[0]"></app-task-list>
    <app-task-list [name]="lists[1]"></app-task-list>
  </div>
</div>
</div>
