button {
  /* position: absolute; */
  /* display: block; */
  position: absolute;
right: 10px;
top: 2px;
  /* top: 40px; */
  color: rgb(78, 78, 78);
  background-color: rgb(27, 27, 27);
  border-radius: 6px;
  border:none;
  width: 27px;
  height: 27px;
  box-shadow: 0 0 7px rgba(7, 5, 5, 0.25);
  margin: 4px;
  margin-left: 10px
}

button:hover {
  color: white;
  background-color: rgb(51, 51, 51);
}

button:focus {
  outline: none;
  border: none;
}

